
<div class="col-md-12">

<footer class="page-footer font-small bg-dark pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-white">Il y a {{getNbFilms()}} films présents dans la base de données </h5>
        <p class="lead text-white"> vous avez visité le site x fois </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3"> </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links
        <h5 class="text-uppercase text-white">Liens</h5>
         -->
            <button class="btn btn-light" (click)="addTask()"> Ajouter un film</button>
      </div>
      <!-- Grid column -->

    </div> <!-- Grid row -->

  </div> <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
</div>
