<!-- Navigation -->
<nav class="navbar nav-tabs navbar-expand-lg navbar-dark bg-dark" id="mainNav">
  <!-- class fixed-top empêche la visibilité -->
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="/"> <!-- ROUTER LINK -->
      <img id="logo" src="/assets/images/logo.jpg" alt=""> Hello Movies </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="liste-des-films">Liste des films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="erreur404">Le film du mois</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
